.container {
  max-width: 1100px !important;
}

/* body {
  font-family: "Jost", sans-serif;
  font-family: "Poppins", sans-serif;
} */
/* 
section {
  height: 100vh;
  text-align: center;
  margin-top: 150px;
} */

/* Header */

header {
  background-color: #fbfbfb;
  font-family: "Poppins", sans-serif;
}

header .top {
  padding: 15px 0;
}

header .top .email a {
  text-decoration: none;
  color: #072961;
  display: block;
}

header .top .social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .top .social a {
  text-decoration: none;
  color: #072961;
  display: block;
  margin-right: 10px;
}

header .top .social a:last-child {
  margin-right: 0;
}

header .top .social a i {
  font-size: 16px;
}

.navbar {
  background-color: #fbfbfb;
  border-top: 1px solid #7a7a7a;
  margin-top: 48px;
  transition: all 0.35s;
}

header.scrolled .navbar {
  margin-top: 0;
}

.navbar .navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 216px;
}

.navbar .navbar-brand h1 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Jost", sans-serif;
  margin-bottom: 0;
}

.navbar .navbar-brand h1 span {
  font-weight: 600;
}

.scrolled .navbar .navbar-brand h1 {
  color: #fff;
}

.scrolled .navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.scrolled .navbar .nav-link {
  color: #fff;
}

@media (max-width: 768px) {
  .navbar .navbar-brand {
    width: 180px;
  }

  .navbar .navbar-brand h1 {
    font-size: calc(1.325rem + 0.9vw);
  }

  .navbar {
    margin-top: 78px;
  }

  header .top .email {
    text-align: center;
  }

  header .top .social {
    justify-content: center;
  }
}

.navbar .navbar-toggler {
  border: none;
}

.scrolled .navbar .navbar-toggler {
  border: none;
}

.navbar-toggler span {
  display: block;
  background-color: #000;
  height: 2px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.scrolled .navbar-toggler span {
  background-color: #fff;
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
  margin-top: 0.3em;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(1) {
  transform: translate(18%, -33%) rotate(40deg);
}

.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(3) {
  transform: translate(18%, 33%) rotate(-40deg);
}

.navbar .navbar-toggler {
  border: none;
}

.scrolled .navbar .navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0 !important;
  box-shadow: none !important;
}

footer {
  padding: 25px;
  color: #fff;
  background-color: #01529e;
}
footer .footer-logo {
  text-decoration: none;
}
footer .footer-logo h3 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Jost", sans-serif;
  margin-bottom: 0;
  color: #fff;
}

footer .footer-logo h3 span {
  font-weight: 600;
}

footer .connect {
  margin-top: 27px;
}
footer .connect .list {
  display: flex;
}

footer .connect .list p {
  margin-bottom: 5px;
  margin-left: 10px;
}

footer .footer-nav ul {
  padding-left: 0;
  list-style: none;
}

footer .footer-nav ul li a {
  text-decoration: none;
  color: #fff;
}

.breadcrumbs {
  margin-top: 66px;
}

.breadcrumbs .Bible {
  position: relative;
  padding: 80px 0;
  background:
    linear-gradient(180deg, rgba(1, 82, 158, 0.7), rgba(1, 82, 158, 0.5)),
    url("/hero-img.jpeg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
}

.breadcrumbs .Peace {
  position: relative;
  padding: 80px 0;
  background:
    linear-gradient(180deg, rgba(1, 82, 158, 0.7), rgba(1, 82, 158, 0.5)),
    url("/hero-img.jpeg") no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
}

.breadcrumbs h3 {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  position: relative;
  z-index: 2;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}

/* backtoptop */
.backToTopButton {
  z-index: 999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #000;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}

.backToTopButton i {
  font-size: 20px;
}
