#hero {
  height: 100vh;
  display: grid;
  place-items: center;
}

#hero .section-heading {
  text-align: center;
}

#hero .section-heading h2 {
  font-size: 36px;
  font-weight: 400;
}

#hero .section-heading p {
  font-size: 20px;
}

#hero .note h2 {
  font-weight: 300;
  color: #01529e;
  text-align: center;
}

#hero .section-heading h2 span {
  font-weight: 600;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}

.scroll-down {
  position: relative;
  text-align: center;
  display: block;
  margin: 20px auto;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.scroll-down i {
  font-size: 40px;
  color: #000;
}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

#hero-details {
  padding: 80px 0;
  position: relative;
}

#hero-details .hero-img {
  z-index: 1;
  position: absolute;
  top: 0;
  background-image: linear-gradient(45deg,
      rgba(1, 82, 158, 1),
      rgba(1, 82, 158, 0.6),
      rgba(1, 82, 158, 0.2)),
    url("/hero-img.jpeg");
  /* Add the blur effect */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  /* Full height */
  height: 100%;
  width: 100%;
}

#hero-details .content {
  z-index: 2;
  position: relative;
  font-family: "Jost", sans-serif;
  color: #fff;
}

#home-guidance {
  padding: 80px 0;
  /* display: grid; */
  /* place-content: center; */
  font-family: "Jost", sans-serif;
}

#home-guidance .section-heading h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 5vh;
}

#home-guidance .box-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 180px);
}

#home-guidance .box-container .box {
  background-color: #eaeaea;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-in;
  border-radius: 10px;
}

#home-guidance .box-container .box h3 {
  font-weight: 300;
  text-align: center;
  margin: 5px 0;
}

#home-guidance .box-container .box a {
  text-decoration: none;
  color: #000;

  transition: all 0.35s ease-in;
}

#home-guidance .box-container .box:hover img {
  transition: all 0.35s ease-in;
}

#home-guidance .box-container .box:hover {
  background-color: #01529e;
  color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

#home-guidance .box-container .box:hover a {
  color: #fff;
}

#home-guidance .box-container .box:hover img {
  filter: invert(100%);
}

#home-guidance .box-container .box img {
  width: 70px;
  height: 70px;
}

#home-guidance .box-container .box:nth-of-type(2) {
  grid-column: 2 / span 2;
}

#home-guidance .box-container .box:nth-of-type(3) {
  grid-column: 4 / 4;
  grid-row: 1 / span 3;
}

#home-guidance .box-container .box:nth-of-type(4) {
  grid-column: 1 / 1;
  grid-row: 2 / span 2;
}

#home-guidance .box-container .box:nth-of-type(6) {
  grid-column: 3 / 3;
  grid-row: 2 / span 2;
}

@media (max-width: 768px) {
  #home-guidance .box-container {
    display: block;
    width: 90%;
    margin: auto;
  }

  #home-guidance .box-container .box {
    margin: 10px auto;
    height: 200px;
    width: auto;
  }
}

#home-about {
  font-family: "Jost", sans-serif;
  /* height: 100vh; */
  display: grid;
  padding-bottom: 80px;
  place-content: center;
}

#home-about .section-heading h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 5vh;
}

#home-about .box-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

#home-about .box-container .box {
  background-color: #eaeaea;
  height: 100%;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-in;
  border-radius: 10px;
}

#home-about .box-container .box h3 {
  font-weight: 300;

  margin: 5px 0;
}

#home-about .box-container .box a {
  text-decoration: none;
  color: #000;

  transition: all 0.35s ease-in;
}

#home-about .box-container .box:hover img {
  transition: all 0.35s ease-in;
}

#home-about .box-container .box:hover {
  background-color: #01529e;
  color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

#home-about .box-container .box:hover a {
  color: #fff;
}

#home-about .box-container .box:hover img {
  filter: invert(100%);
}

#home-about .box-container .box img {
  width: 70px;
  height: 70px;
}

@media (max-width: 768px) {
  #home-about {
    display: block;
  }

  #home-about .box-container {
    display: block;
    width: 90%;
    margin: auto;
  }

  #home-about .box-container .box {
    margin: 10px auto;
    height: 200px;
    width: 100%;

  }
}

#home-contact {
  font-family: "Jost", sans-serif;
  display: grid;
  padding-bottom: 80px;
  place-content: center;
}

#home-contact .section-heading h2 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 5vh;
}

#home-contact .box-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

#home-contact .box-container .box {
  background-color: #eaeaea;
  padding: 20px;
  height: 250px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-in;
  border-radius: 10px;
}

#home-contact .box-container .box h3 {
  font-weight: 300;

  margin: 5px 0;
}

#home-contact .box-container .box a {
  text-decoration: none;
  color: #000;

  transition: all 0.35s ease-in;
}

#home-contact .box-container .box:hover img {
  transition: all 0.35s ease-in;
}

#home-contact .box-container .box:hover {
  background-color: #01529e;
  color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

#home-contact .box-container .box:hover a {
  color: #fff;
}

#home-contact .box-container .box:hover img {
  filter: invert(100%);
}

#home-contact .box-container .box img {
  width: 70px;
  height: 70px;
}

@media (max-width: 768px) {

  #home-contact {
    display: block;
  }

  #home-contact .box-container {
    display: block;
    width: 90%;
    margin: auto;
  }

  #home-contact .box-container .box {
    margin: 10px auto;
    height: 200px;
    width: auto;
  }
}